div.cartIconContainer {
    width: 70px;
    margin-left: 20px;
}

div.cartIconContainer div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 2rem;
}

img {
    width: 85%;
    cursor: pointer;
}
