nav {
    position: relative;
    top: 0;
    left: 0;
    background-color: rgb(202, 114, 32);
    width: 100%;
    border-bottom: 1px solid rgb(70, 70, 70);
}

.navContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.navContainer a {
    height: 100%;
    padding: 10px;
}

.navContainer a .logo {
    width: 5rem;
}

.navContainer .navBarList ul {
    list-style: none;
    padding: 10px;
}

.navContainer .navBarList ul li {
    display: inline-block;
}

.mainButtons {
    background-color: rgb(228, 134, 47);
    margin: 0 5px;
    border: 1px solid rgb(70, 70, 70);
    border-radius: 8px;
    transition: 200ms ease-in-out;
}

.mainButtons:hover {
    background-color: rgb(206, 117, 34);
    border: 2px solid rgb(70, 70, 70);
}

.subMenu {
    position: relative;
}

.navContainer .navBarList ul li .dropDownMenu {
    position: absolute;
    display: none;
    background-color: rgb(224, 137, 55);
    border-radius: 8px;
    border: 1px solid rgb(70, 70, 70);
    width: 8rem;
}

.navContainer .navBarList ul li .dropDownMenu li {
    display: block;
    padding: 10px;
}

.navContainer .navBarList ul li .dropDownMenu li a {
    transition: all 0.1s ease-in-out;
}

.navContainer .navBarList ul .subMenu:hover .dropDownMenu {
    display: block;
    margin-top: 10px;
    text-align: start;
}

.navContainer .navBarList ul li a {
    text-decoration: none;
    color: black;
    transition: all 0.1s ease-in-out;
}

.navContainer .navBarList ul li a:hover {
    color: rgb(56, 56, 56);
}

.navContainer .navBarList ul li .dropDownMenu li a:hover {
    color: white;
}

.cartWidget {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
}

.cartWidget a {
    text-decoration: none;
}

.login {
    background-color: rgb(70, 70, 70);
    color: white;
    width: 5rem;
    height: 2rem;
    margin-left: 2rem;
}

.login:hover a {
    color: black;
}

.login a {
    color: white;
}

.myAccount {
    position: relative;
    cursor: default;
    padding: 0.3rem 0.5rem;
}

.accountDropDown {
    position: absolute;
    display: none;
    padding: 1rem 0.5rem 0;
    border: 1px solid rgb(70, 70, 70);
    border-radius: 8px;
    background-color: rgb(224, 137, 55);
    width: 7rem;
    list-style: none;
}

.myAccount:hover .accountDropDown {
    display: block;
    margin-top: 0;
    text-align: start;
}

.accountDropDown a {
    color: black;
    text-decoration: none;
    padding: 0;
}

.accountDropDown p {
    padding: 0;
    cursor: pointer;
}

.accountDropDown a:hover {
    color: white;
}

.accountDropDown p:hover {
    color: white;
}
