.loginContainer {
    width: 70em;
    display: flex;
    flex-direction: column;
    height: 75vh;
    justify-content: center;
}

h3.loginTitle {
    color: rgb(46, 46, 46);
    text-align: center;
    font-size: 2rem;
    margin-bottom: 0;
    width: 100%;
}

form {
    width: 50%;
    align-self: center;
}

label {
    padding-top: 2rem;
}

.loginButtonsContainer {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    margin-top: 4rem;
}

.loginButtons {
    width: 7rem;
    height: 3rem;
    margin: 0;
    font-size: 1rem;
    transition: 100ms ease-in-out;
}

.loginButtons:hover {
    background-color: rgb(70, 70, 70);
    border: 1px solid black;
}

a.createUser {
    text-decoration: none;
    color: rgb(72, 72, 211);
    align-self: center;
    font-size: 1.1rem;
    transition: 100ms ease-in-out;
}

a.createUser:hover {
    color: rgb(144, 144, 252);
}
